.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d8d5d5; 
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.navbar-left h1 {
    margin: 0;
    font-size: 24px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right button {
    background: none;
    border: none;
    color: #706f6f;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}


